body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
}

/* .content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
} */

.logo {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav li {
  list-style-type: none;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#catto {
  height: 320px;
  width: 240px; 
}