body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
}

.logo {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav li {
  list-style-type: none;
}

.nav-items {
  display: flex;
  gap: 20px;
}