body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
}

/* .content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
} */

.logo {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.topnav li {
  list-style-type: none;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.top-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#catto {
  height: 320px;
  width: 240px; 
}

.text-content {
  width: 400px;
}

.navy {
  background-color: #171b38;
  color: white;
}

.mid-content {
  text-align: center;
}

.content-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box-icon {
  height: 200px;
  width: 200px;
}

.quote {
  width: 800px;
}

.quote .large-text {
  font-size: 30px;
}

.quote-box {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}